.wrap-showtime {
    --width: 93%;
    --max-width: 90%;

    .page-main {

        &__content {
            border: 1px solid #ddd;
            display: flex;
            border-radius: 5px;

            .filter {
                width: 100%;
                height: 600px;
                --border-radius: 5px;
                display: flex;

                .branchs {
                    width: 25%;
                    //height: 580px;
                    padding: 10px 10px;
                    border-right: 1px solid #ddd;
                    //margin-top: 10px;
                    //background-color: #eee;

                    .title {
                        font-weight: bold;
                        height: 70px;
                        font-size: 18px;
                        text-align: center;
                        border-bottom: 1px solid #fff;
                    }

                    .branch {
                        width: 100%;
                        //height: 100px;
                        margin-bottom: 5px;

                        padding: 0 20px;

                        &-item {
                            width: 100%;
                            min-height: 70px;

                            //margin-bottom: 10px;
                            opacity: .5;
                            border-bottom: 1px solid #ddd;

                            &-content {
                                min-height: 60px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                &-title {
                                    font-weight: bold;
                                }

                                .branch-theater {
                                    padding: 0 0 0 20px;
                                    width: 100%;

                                    &-item {
                                        height: 30px;

                                        &:hover {
                                            font-weight: bold;
                                        }
                                    }

                                    .actived {
                                        font-weight: bold;
                                    }
                                }
                            }

                            &:hover {
                                cursor: pointer;
                                opacity: 1;
                            }

                            .actived {
                                opacity: 1;
                            }

                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        &:first-child {
                            margin-top: -10px;
                        }

                    }

                    .actived {
                        opacity: 1;
                    }
                }

                // .theaters {
                //     width: 0%;
                //     height: 580px;
                //     padding: 10px 10px;
                //     border-right: 1px solid #ddd;
                //     margin-top: 10px;

                //     .theater {
                //         width: 100%;
                //         overflow: auto;
                //         margin-bottom: 5px;
                //         border-bottom: 1px solid #ddd;

                //         &__item {
                //             height: 90px;
                //             display: flex;
                //             align-items: center;
                //             width: 100%;
                //             opacity: .7;

                //             .img {
                //                 width: 70px;
                //                 height: 70px;
                //                 border: 1px solid #ddd;
                //                 margin-right: 10px;
                //             }

                //             .infor {
                //                 display: flex;
                //                 flex-direction: column;
                //                 justify-content: center;
                //             }

                //         }


                //         &:last-child {
                //             border-bottom: none;
                //         }

                //         &:hover {
                //             cursor: pointer;
                //             opacity: 1;
                //             font-weight: bold;
                //         }

                //         .actived {
                //             opacity: 1;
                //             font-weight: bold;
                //         }
                //     }
                // }

                .infor-showtime {
                    width: 75%;
                    max-height: 580px;
                    //padding: 10px 10px;
                    border-right: 1px solid #ddd;
                    margin-top: 10px;

                    // head
                    .schedule {
                        width: 100%;
                        display: flex;
                        overflow-x: auto;

                        &__head {
                            display: flex;
                            height: 70px;
                            padding: 10px 0;
                            border-bottom: 1px solid #ddd;

                            &__item {
                                width: 120px;
                                //box-shadow: 2px 2px 5px #ddd;
                                border-radius: 5px;
                                border: 1px solid #fff;
                                border-right: 1px solid lightseagreen;
                                border-radius: 0;

                                //height: 90%;
                                //overflow-x: scroll;
                                margin-right: 5px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                //height: 70%;

                                .bold {
                                    font-weight: bold;
                                }
                            }

                            .opacity-5 {
                                opacity: .4;
                            }

                            .actived {
                                //border: 1px solid green;
                                //border-radius: 4px;
                                color: lightseagreen;
                                box-shadow: 3px 5px 5px #ddd;
                            }

                            .none {
                                display: none;
                            }

                            .display {
                                display: block;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .showtimes {
                        width: 100%;
                        min-height: 500px;
                        max-height: 500px;
                        overflow: auto;

                        .showtime-detail {
                            width: 100%;

                            .showtime-film {
                                padding: 10px 10px;
                                min-height: 150px;

                                .data {
                                    position: relative;
                                    display: flex;

                                    .film {
                                        //position: absolute;
                                        //position: relative;
                                        //width: 100%;                                        
                                        min-width: 200px;
                                        top: -5px;
                                        text-align: center;
                                        //min-height: 150px;
                                        font-weight: bold;
                                        //margin-left: 20px;
                                        //margin-right: 20px;
                                        margin-top: -10px;
                                    }

                                    .hr {
                                        //width: 90%;
                                        // right: 20px;
                                        border-top: 1px solid #ddd;
                                        // position: absolute;
                                        // top: 9px;
                                    }

                                }

                                .data-showtime {
                                    position: relative;
                                    top: 0;
                                    min-height: 150px;

                                    display: flex;

                                    .not-found {
                                        display: none;

                                        &:first-child {
                                            display: block;
                                        }
                                    }

                                    .data-showtime-item {
                                        width: 120px;
                                        height: 30px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 5px;
                                        background-color: #D0D8DC;
                                        margin-left: 10px;

                                        font-weight: bold;
                                        transition: all .3s;

                                        &:hover {
                                            cursor: pointer;
                                            opacity: .8;
                                            transition: all .3s;
                                            //font-weight: bold;                                            
                                        }

                                        &:hover .end {
                                            font-style: italic;
                                            transition: all .3s;
                                        }

                                        .end {
                                            //color: red;
                                            font-size: 16px;
                                            font-weight: bold;
                                            color: blue;
                                        }
                                    }
                                }

                                .control {
                                    display: flex;
                                    justify-content: flex-end;

                                    .button-add {
                                        width: 80px;
                                        //background-color: lightseagreen;
                                        background-color: #B1C6D3;
                                        border-radius: 5px;
                                        text-align: center;

                                        &:hover {
                                            cursor: pointer;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

        }
    }


    .show {
        visibility: visible;
    }

    .hide {
        visibility: hidden;
    }
}

.modal-style {
    font-size: 15px;

    .control {
        display: flex;
        margin-bottom: 5px;

        label {
            font-weight: bold;
            width: 150px;
            display: flex;
            align-items: flex-end;
        }

        select {
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    }
}

.modal-detail {
    width: 1000px;

    .detail-seats {
        --width: 100px;

        .seats {
            .seat-item {}
        }
    }
}