.feature-genre {
    .page-main {
        width: 100%;

        .main {
            display: flex;
            padding: 10px;
            min-height: 500px;

            .genres,
            .countrys {
                width: 50%;
                padding: 10px;

                .form-add {
                    input {
                        border: none;
                        border-bottom: 1px solid #ddd;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }
                    }

                    margin-bottom: 10px;
                }

                .list {

                    .genre-item,
                    .country-item {
                        display: flex;
                        height: 30px;

                        &:hover {
                            cursor: pointer;
                        }

                        .genre-stt,
                        .country-stt {
                            width: 60px;
                        }

                        .genre-name,
                        .country-name {
                            width: 300px;
                        }

                        // .remove {
                        //     visibility: hidden;
                        // }

                        // &:hover .remove {
                        //     visibility: visible;
                        // }
                    }

                    .show {
                        visibility: visible;
                    }

                    .none {
                        visibility: hidden;
                    }
                }
            }
        }

        .genres {
            border-right: 1px solid #ddd;
        }

        .ic-add {
            color: #bbb;
            margin-top: -50px;
            //position: absolute;
            //right: 0;
            //top: -15px;
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}